@font-face{
  font-family: "Bauhaus 93";
    font-style: normal;
      font-weight: 400;
      font-display: swap;
  src: url("/assets/font_bauhaus_93.ttf") format("truetype");
}
@font-face{
  font-family: "Jonney Fever";
    font-style: normal;
      font-weight: 400;
      font-display: swap;
  src: url("/assets/font_johnny_fever.ttf") format("truetype");
}
@font-face{
  font-family: "Lazer84";
    font-style: normal;
    font-weight: 400;
      font-display: swap;
  src: url("/assets/font_lazer84.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/font_roboto_thin_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font_roboto_bold_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/font_roboto_thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font_roboto_bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/font_source_sans_pro_light_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font_source_sans_pro_bold_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/font_source_sans_pro_light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font_source_sans_pro_bold.ttf) format('truetype');
}

.bg-a { background-color: #25448d; }
.bg-b { background-color: black; }
.bg-c { background-color: #ff00ba; }

.text-a { color: #25448d; }
.text-b { color: black; }
.text-c { color: #ff00ba; }


.font-primary { font-family: "Roboto"; }
.font-secondary { font-family: "Source Sans Pro"; }
.font-bauhaus { font-family: "Bauhaus 93"; }
.font-lazer { font-family: "Lazer84"; }